data/elton_traits/*.csv
data/*.rda
data/*.csv
manifest.json
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/extdata/*.csv
inst/extdata/elton_traits/*.csv
inst/extdata/biotime/*.csv
inst/extdata/amphibio/*.csv
